/*==============   FONTS    ==================*/

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/apercu-mono.otf') format('opentype');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guida';
    src: url('../fonts/guida-bold.otf') format('opentype');
        font-weight: normal;
    font-style: normal;
}

/* GENERAL */

:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --main-blue: #004edf;
    --faded-blue: #99b9f2;
    --main-white: #ffffff;


    /*========== Font and typography ==========*/

    --body-font: "Apercu", sans-serif;
    --title-font: "Guida", sans-serif;
    --h1-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size:.8rem;
    --captions-font-size: .9rem;
    --info-resp-font-size: .87rem;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    font-smooth: never;
    -moz-font-smooth: never;
}

html {
    height: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 300;
    color: var(--main-blue);
    height: 100%;
    background-color: var(--main-white);
    cursor: url('../images/cursor.png'), auto;

}

h1{
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    text-transform: uppercase;
}

img {  
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

/* HEADER */

.header{
    width: 100%;
    height: 10vh;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__infos{
    text-decoration: none;
}

.header__infos:hover{
    text-decoration: underline;
    cursor: url('../images/pointer.png'), pointer ;
}

.header__infos_icon{
    display: none;
}

.header__infos_icon:hover{
    cursor: url('../images/pointer.png'), pointer ;
 
}

.main__wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header__logo:hover{
    cursor: url('../images/pointer.png'), pointer ;
}

/* SLIDESHOW */


.slideshow__container{
    height:85vh;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

.slideshow__inner{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .5rem;
    transition: 1000ms;
    padding-left: 1rem;
}

.slideshow__project{
    height: 100%;
}

.slideshow__project_inner{
    display: flex;
    flex-direction: column;
    /* transition: 1000ms; */
}

.slideshow__image{
    object-fit: contain;
    width: auto;
    height: 85vh;
    display: none;
}

.slideshow__image_on{
    display: block;
}

.current_project:hover{
    cursor: url('../images/pointer.png'), pointer ;
}

.prev_project:hover{
    cursor: url('../images/GAUCHE.svg'), pointer ;
}

.next_project:hover{
    cursor: url('../images/DROITE.svg'), pointer ;
}

.slideshow__overlay{
    display:none
}

/* SLIDESHOW INFINI */

.slideshow__invisible_slides{
    display: none;
}

/* CAPTIONS */

.caption__container{
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    font-size: var(--captions-font-size);
}

.caption__project{
    display: none;
}

.caption__slides_counter{
    display: none;
}

.resp__caption_box{
    display: none;
}

/* PAGE INFORMATIONS */


.informations__logo{
    color:var(--main-white);
    cursor: url('../images/pointer.png'), auto;
}

.informations__logo:hover{
    color:var(--main-blue);
    -webkit-text-stroke: 1px var(--main-white);
    text-stroke: 1px var(--main-white);
    cursor: url('../images/pointer.png'), pointer;
}

.informations__close_icon{
    display: block;
}

.informations__close_icon_hovered{
    display: none;
}

.informations__close_icon_box:hover{
    cursor: url('../images/pointer.png'), auto ;
}

.informations__close_icon_box:hover .informations__close_icon{
    display: none;
}

.informations__close_icon_box:hover .informations__close_icon_hovered{
    display: block;
}

.informations__container{
    height: 0 ;
    min-height:0;
    width: 100%;
    position: absolute;
    top:0;
    background-color: var(--main-blue);
    color: var(--main-white);
    top: 100%;
    z-index: 2;
    transition: all 1000ms;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.informations__container:hover{
    cursor: url('../images/cursorinfo.png'), auto ;
}

.informations__on{
    min-height: 100%;
    max-height: 100%;
    top: 0
}

.informations__content_wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 90%;
}

.informations__content_wrapper strong{
    text-decoration: underline;
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.informations__content_wrapper p, ul{
    margin-bottom: 2.25rem;
}

.informations__content_wrapper ul{
    list-style-position: inside;
    list-style-type : "·  ";
    margin-top: -2.25rem;
}

.informations__first_column{
    width: 30%;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informations__second_column{
    width: 69.5%;
    padding: 1rem 1rem 1rem 7rem;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--faded-blue) var(--main-blue);
}

.informations__container a{
    color: var(--main-white);
}

.resp__informations_footer{
    display: none;
}

.footer__link{
    color: var(--main-white);
}

.footer__link:hover{
    cursor: url('../images/pointer.png'), pointer;
    color: var(--faded-blue);
}

.noscroll {
    overflow: hidden;
}

/* INFORMATIONS SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--main-blue);
    opacity: 0%;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--faded-blue);
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-white);
}


/* RESPONSIVE / MEDIA QUERIES */

@media screen and (max-width: 1200px){
    .caption__project, .caption__slides_counter{
        font-size: .8rem;
    }
}

@media screen and (max-width: 870px){

    .header{
        height: auto;
        padding-top: 1rem;
    }

    .slideshow__container{
        height: auto;
        width: 100%;
        margin-top: 2rem;
        overflow: hidden;
        position: relative; 
    }

    .slideshow__inner{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        transition: 0;
        padding-left: 0;
    }

    .slideshow__hidden_clones{
        display: none;
    }
    
    .slideshow__project{
        height: auto;
        position: relative;
    }
    
    .slideshow__project_inner{
        display: flex;
        flex-direction: row;
        gap: .5rem;
        padding-left: 1rem;
        transition: 1000ms;
    }
    
    .slideshow__image{
        object-fit: contain;
        width: 90vw;
        height: auto;
        display: block;
    }

    .resp__caption_box{
        display: flex;
        flex-direction: column;
        width: 89vw;
        gap: .4rem;
        font-size: var(--smaller-font-size);
        margin-left: 1rem;
        margin-bottom: 1.1rem;
    }

    .slideshow__overlay{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
    }

    .overlay__right{
        width: 50%;
        height: 100%;
    }
    
    .overlay__left{
        width: 50%;
        height:100%;
    }

    .overlay__neutral{
        width: 50%;
        height: 100%;
    }
    
    .overlay__right:hover{
        cursor: url('../images/DROITE.svg'), auto ;
    }

    .overlay__left:hover{
        cursor: url('../images/GAUCHE.svg'), auto ;
    }

    .overlay__neutral:hover{
        cursor: url('../images/cursor.png'), auto ;
    }

    .informations__container{
        font-size: var(--info-resp-font-size) ;
    }
    .informations__container strong{
        font-size: var(--info-resp-font-size) ;
    }

    .informations__second_column{
        padding: 1rem 1rem 1rem 4rem;
    }


}

@media screen and (max-width: 700px){

    .informations__content_wrapper{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 90%;
        overflow-y:auto;
    }

    .informations__first_column{
        width: 100%;
        padding: 1rem 1.5rem 1rem 1.5rem;

    }
    .informations__second_column{
        width: 100%;
        padding: 0 1.5rem .75rem 1.5rem;
        overflow-y:visible;
    }

    .informations__footer{
        display: none;
    }

    .resp__informations_footer{
        display: block;
        margin: 0 0 .8rem 1.5rem;
    }

    .informations__content_wrapper p, ul{
        margin-bottom: 1.25rem;
    }
    
    .informations__content_wrapper ul{
        list-style-position: inside;
        list-style-type : "·  ";
        margin-top: -1.25rem;
    }

    .slideshow__container{
        height: auto;
        width: 100%;
        margin-top: .8rem;
        overflow: hidden;
        position: relative; 
    }

}

@media screen and (max-width: 500px){
    .header__infos{
        display: none;
    }

    .header__infos_icon{
        display: block;
    }
}