/*==============   FONTS    ==================*/

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/apercu-mono.otf') format('opentype');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guida';
    src: url('../fonts/guida-bold.otf') format('opentype');
        font-weight: normal;
    font-style: normal;
}

/* GENERAL */

:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --main-blue: #004edf;
    --faded-blue: #99b9f2;
    --main-white: #ffffff;


    /*========== Font and typography ==========*/

    --body-font: "Apercu", sans-serif;
    --title-font: "Guida", sans-serif;
    --h1-font-size: 3rem;
    --normal-font-size: 1rem;
    --icons-font-size: 1.8rem;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    font-smooth: never;
    -moz-font-smooth: never;
}

html {
    height: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 300;
    color: var(--main-blue);
    height: 100%;
    background-color: var(--main-white);
}

h1{
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    text-transform: uppercase;
}

/* HEADER */

.header{
    width: 100%;
    height: 10vh;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__infos{
    text-decoration: none;
}

.header__infos:hover{
    text-decoration: underline;
}

.main__wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* SLIDESHOW */


.slideshow__container{
    height:85vh;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

.slideshow__inner{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 1000ms;
    padding-left: 20%;
}

.slideshow__project{
    height: 100%;
}

.slideshow__project_inner{
    display: flex;
    flex-direction: column;
    /* transition: 1000ms; */
}

.slideshow__image{
    /* display: block; */
    object-fit: contain;
    width: auto;
    height: 85vh;
    display: none;
}

.slideshow__image_on{
    display: block;
}

.slideshow__overlay{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    display: flex;
    flex-direction: row;
}

#slideshow__overlay_left, #slideshow__overlay_right{
    width: 20%;
    height: 100%;
    /* background-color: green; */
    opacity: 40%;
}

#slideshow__overlay_middle{
    width:60%;
    height: 100%;
    /* background-color: red; */
    opacity: 40%;
}

/* CAPTIONS */

.caption__container{
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 1rem;
}

.caption__project{
    display: none;
}

/* PAGE INFORMATIONS */


.informations__logo{
    color:var(--main-white);
    cursor: pointer;
}

.informations__logo:hover{
    color:var(--main-blue);
    -webkit-text-stroke: 1px var(--main-white);
    text-stroke: 1px var(--main-white);
}



.informations__close_icon{
    display: block;
}

.informations__close_icon_hovered{
    display: none;
}

.informations__close_icon_box:hover .informations__close_icon{
    display: none;
}

.informations__close_icon_box:hover .informations__close_icon_hovered{
    display: block;
}

.informations__container{
    height: 0 ;
    min-height:0;
    width: 100%;
    position: absolute;
    top:0;
    background-color: var(--main-blue);
    color: var(--main-white);
    top: 100%;
    z-index: 2;
    transition: all 1000ms;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.informations__on{
    min-height: 100%;
    max-height: 100%;
    top: 0
}

.informations__content_wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 90%;
}

.informations__content_wrapper strong{
    text-decoration: underline;
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.informations__content_wrapper p, ul{
    margin-bottom: 1rem;
}

.informations__content_wrapper ul{
    list-style-position: inside;
    list-style-type : "·  ";
    margin-top: -1rem;
}

.informations__first_column{
    width: 30%;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informations__second_column{
    width: 69.5%;
    padding: 1rem 1rem 1rem 1rem;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--faded-blue) var(--main-blue);

}


/* INFORMATIONS SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--main-blue);
    opacity: 0%;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--faded-blue);
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-white);
}